<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>

<div class="container">
    <header>
        <h1>Contact Us</h1>
    </header>
    
    <div class="content">
        <p>Contact us for any inquiries or support.</p>
        <p>Email: ontheway@ac.com</p>
        <p>Phone: +9188698023</p>
    </div>
    
    <footer>
        <p>&copy; 2024 ON THE WAY</p>
    </footer>
</div>

</body>
</html>
