<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Owner Registration</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='owner_styles.css') }}">
</head>
<body>
    <h1>Owner Registration</h1>
    {% if error %}
        <p class="error-message">{{ error }}</p>
    {% endif %}
    <form action="/owner_register" method="POST">
        <input type="text" name="username" placeholder="Enter Username" required><br>
        <input type="password" name="password" placeholder="Enter Password" required><br>
        <button type="submit">Register</button>
    </form>
</body>
</html>
