<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <style>
        .register-section input[type="text"],
        .register-section input[type="password"] {
            width: calc(100% - 10px); /* Adjust the width based on your design */
            padding: 10px; /* Add padding */
            margin-bottom: 10px; /* Add margin to separate the fields */
            box-sizing: border-box}
    </style>
</head>
<body>
    <div class="content-container">
        <div class="text-section">
            
        </div>
        <div class="register-section"><p>A bus is a common method of transportation in everyday life that provides a low-cost way to go from point A to point B. But there are also some problems related to this, like often valuable time of passengers getting wasted waiting for their bus without knowing the bus’s predicted arrival time and position, as well as also if we look at the management side, managing the fleet is itself a tedious task.</p>
            <h1>Register</h1>
            <form action="/register" method="post">
                <label for="username">Username:</label><br>
                <input type="text" id="username" name="username" required><br>
                <label for="password">Password:</label><br>
                <input type="password" id="password" name="password" required><br><br>
                <input type="submit" value="Register">
            </form>
        </div>
    </div>
</body>
</html>
